/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(22, 120, 14, 0.8);
  width: 100%;
}
/* global end */
/* navbar  */
nav {
  padding: 2% 4%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.8s;
  z-index: 1000;
  background-color: rgba(20, 73, 27, 0.8);
  backdrop-filter: blur(10rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

nav.sticky {
  padding: 0;
  background: #fff;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
  li a{
    color: black;
  }
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
  /* background-color: rgba(20, 73, 27, 0.8); */
  padding: 1em;
}
.logo img {
  width: 25%; 
}
.menu {
  display: flex;
  flex-wrap: wrap; 
}
.menu div {
  flex: 1 0 50%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu li {
  padding: 0.5em; 
}
.menu li .text-link {
  display: none;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;

  .sosmed{
    width: 3em;
    height: auto;
  }
  .yt{
    width: 4em;
    height: auto;
  }
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 2em; 
  transform: translateY(-50%);
}
.close-menu {
  top: 1em; 
  right: 2em; 
}
#check {
  display: none;
}
@media (max-width: 610px) {
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: rgba(20, 73, 27, 0.8);;
      transition: all 0.2s ease-in-out;
  }
  .logo img {
    width: 100%; 
  }
  .menu div {
      flex-basis: auto;
      flex-grow: 1;
      width: 100%;
      flex-direction: column; 
  }
  .menu li {
      padding: 1em; 
  }
  .menu li .text-link {
    display: inline-block;
  }
  .menu li img {
    display: none;
  }
  .open-menu, .close-menu {
      display: block;
  }
  #check:checked ~ .menu {
      right: 0;
  }
}
a:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition-delay: 0.2s;
}
/* navbar end */
/* navbar bawah end */

nav.sticky .logo-t {
  color: #000;
}
.banner {
  background-color: rgba(20, 73, 27, 0.4);
  margin-top: 20%;
  width: 100%;
  height: 100vh;
  margin: auto;
  /* bg */
}
/* welcome text */
.video_bg {
  
  margin-top:4%;
  padding-bottom: 4%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  /*Ensuresthevideocoverstheareawithoutdistortion*/z-index: -1;
   /* Sends the video to the back */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Animasi Fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes untuk animasi dari kiri ke tengah */
@keyframes move-left-to-center {
  0% {
    transform: translateX(0); /* Awal di sisi kiri */
  }
  100% {
    transform: translateX(25vw); /* Berhenti di tengah */
  }
}

/* Keyframes untuk animasi dari kanan ke tengah */
@keyframes move-right-to-center {
  0% {
    transform: translateX(0); /* Awal di sisi kanan */
  }
  100% {
    transform: translateX(-35vw); /* Berhenti di tengah */
  }
}

/* Gaya dasar untuk teks yang bergerak */
.typing-left, .typing-right {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  color: rgb(10, 10, 10);
  filter: drop-shadow(10px 7px 10px rgb(137, 234, 148));
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  z-index: 10; /* Lebih tinggi dari elemen di bawahnya */
  font-family: 'Roboto', sans-serif; /* Ganti 'Roboto' dengan font pilihan Anda */
  opacity: 1; /* Mulai dengan sepenuhnya terlihat setelah fade-in selesai */
  position: absolute;
  transform: translateY(-50%);
}

.typing-left {
  bottom: -20%; /* Sesuaikan posisi vertikal */
  left: 0;
  border-right: 0.01rem solid rgb(0, 0, 0);
  animation: move-left-to-center 3s ease forwards, fadeIn 2s ease; /* Animasi fade-in dan bergerak */
  animation-fill-mode: forwards; /* Menjaga posisi akhir animasi */
  animation-iteration-count: 1; /* Animasi hanya terjadi sekali */
}

.typing-right {
  bottom: -15%; /* Sesuaikan posisi vertikal */
  right: 0;
  border-left: 0.01rem solid rgb(0, 0, 0);
  text-align: right;
  animation: move-right-to-center 3s ease forwards, fadeIn 2s ease; /* Animasi fade-in dan bergerak */
  animation-fill-mode: forwards; /* Menjaga posisi akhir animasi */
  animation-iteration-count: 1; /* Animasi hanya terjadi sekali */
}


.text-container {
 
  opacity: 0; 
  animation: fadeIn 2s ease-in-out forwards; /* Animasi fade-in */
}


/* Konten kegiatan */
.kolom-k {
  display: flex;
  background-color: #024018;
  width: 100%;
  height: 10vh;
  position: relative; 
  z-index: 1; 
  color: white;
  
}
.kolom-k .tanggal-k {
  width: 30%;
  height: 7vh;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 1%;
  padding: 1%;
  filter: drop-shadow(15px 10px 15px rgb(225, 206, 62));
  text-align: end;
  border-right: 1px solid rgb(255, 255, 255);


}
.kolom-k .bulan-k {
  margin-top: 1%;
  width: 30%;
  height: 7vh;
  padding: 1%;
  filter: drop-shadow(10px 7px 10px rgb(137, 234, 148));
  text-align: center;
}
.kolom-k .tahun-k {

  width: 30%;
  height: 7vh;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding: 1%;
  text-align: start;
  filter: drop-shadow(10px 7px 10px rgb(137, 234, 148));
  border-left: 1px solid rgb(255, 255, 255);
}
.nama-k {
  background-color: #2e1313;
  width: 50%;
  height: 100%;
}

.kolom2 {
  background-color: #024018;
  width: 100%;
  height: 15vh;
}

.isi{
  display: flex;
  background-color: #fff;
  width: 80%;
  height: 110vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}
.foto{
  background-color: aqua;
  width: 40%;
  height: 80vh;
  margin-top: 1%;
  margin-left: 10%;
}
.text{
  background-color: aquamarine;
  width: 40%;
  height: 40vh;
  margin-left: 2%;
  margin-top: 1%;
}
.foto2{
  background-color: aquamarine;
  width: 40%;
  height: 40vh;
  margin-left: -40%;
  margin-top: 27%;
}
.text2{
  background-color: #63567a;
  width: 40%;
  height: 20vh;
  margin-left: -82%;
  margin-top: 50%;
}
/* animasi zoom out zoom in */
.image-container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

.img-wrapper {
  width: 50%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: transform 0.5s ease;
  position: relative;
}

.zoom-img {
  width: 130%; /* Initial zoom-in to 125% */
  height: 130%; /* Initial zoom-in to 125% */
  object-fit: cover;
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.zoom-in {
  width: 100%; /* Zoom in to show full image */
  height: 100%; /* Zoom in to show full image */
  transform: scale(1);
}

.zoom-out {
  transform: scale(1.2); /* Zoom out to fill the wrapper */
}
/* animasi zoom in zoom out */
/* comtent kegiatan end */
/* footer style  */
footer {
  display: relative;
  margin-top: 2%;
  padding: 2%;
  background-color: #333;
  color: #fff;
  bottom: 0;
  width: 100%;
}
.container-f{
  display: flex;

}
.location{
  margin-left: 130px;
  background: #7a5656;
  width: 40%;
  height: 120px;
  padding-right: 20px;
  padding-left: 10px;
}
.alamat{
  border-bottom: 2px solid green;
  padding-bottom: 20px;
font-size: 15px;
}
.contact{
  background: #ff0000;
  width: 40%;
  height: 120px;
  padding-right: 20px;
  padding-left: 10px;
}
.nomor{
  border-bottom: 2px solid green;
  padding-bottom: 20px;
}
.copyright{
  margin-top: 10px;
  text-align: center;
}
