/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 200vh;
  background: url("img/bgabout.jpg") no-repeat center center/cover;
  --color1: rgb(255, 255, 255);
  --color2: rgba(20, 73, 27, 0.8);
}
/* global end */
/* navbar  */
nav {
  padding: 2% 4%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.8s;
  z-index: 1000;
  background-color: rgba(20, 73, 27, 0.8);
  backdrop-filter: blur(10rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

nav.sticky {
  padding: 0;
  background: #fff;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
  li a {
    color: black;
  }
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
  /* background-color: rgba(20, 73, 27, 0.8); */
  padding: 1em;
}
.logo img {
  width: 25%;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu div {
  flex: 1 0 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu li {
  padding: 0.5em;
}
.menu li .text-link {
  display: none;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;

  .sosmed {
    width: 3em;
    height: auto;
  }
  .yt {
    width: 4em;
    height: auto;
  }
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
}
.close-menu {
  top: 1em;
  right: 2em;
}
#check {
  display: none;
}
a:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition-delay: 0.2s;
}
/* navbar end */
/* navbar bawah end */
/* container about us  */
/* container about us  */
.container-about {
  display: flex;
  margin-top: 10%;
  width: 100%;
  height: 60vh;
 
}
.cont-foto {
  
  display: flex;
  width: 50%;
}
.foto {
  align-items: center;
  width: 100%;
  height: auto;
}
.about {
 color: #fff;
  width: 50%;
  margin: auto;
  height: auto;
}
.profile {
  font-size: 80%;
  color: #fff;
  margin: auto;
  height: auto;
}
/* End container about us  */

/* Media query for zoom level */
@media only screen and (min-width: 150%) and (max-width: 200%) {
  .profile {
    font-size: 40%;
  }
}
/* This is an alternative to target high DPI (zoomed in) */
@media only screen and (min-resolution: 144dpi) and (min-resolution: 192dpi) {
  .profile {
    font-size: 40%;
  }

}
.teks {
  align-content: center;
  text-align: center;
}
.profile {
  text-align: justify;
  padding: 10px;
}
/* visi */
.visi,
.misi {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.visi {
  /* background-color: orange; */
  width: 100%;
  height: 250px;
}
.box-visi {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 400px;
  height: 200px;
}
/* visi end */
/* misi */
.misi {
  /* background-color: yellow; */
  width: 100%;
  height: 300px;
}
.box-misi {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 400px;
  height: 200px;
  p {
    text-align: left;
    margin-left: 15px;
  }
}
/* misi end */

.sejarah {
  /* background-color: orange; */
  width: 100%;
  height: 250px;
}
.box-sejarah {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 400px;
  height: 200px;
}

/* footer style  */
footer {
  display: relative;
  margin-top: 1%;
  padding: 1em;
  background-color: #333;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: auto;
}
.container-f {
  display: flex;
}
.location {
  margin-left: 10%;
  background: #7a5656;
  width: 40%;
  height: auto;
  padding-right: 2em;
  padding-left: 1em;
}
.alamat {
  border-bottom: 0.15em solid green;
  padding-bottom: 1em;
  font-size: 1em;
}
.contact {
  background: #ff0000;
  width: 40%;
  height: auto;
  padding-right: 20px;
  padding-left: 10px;
}
.nomor {
  border-bottom: 0.15em solid green;
  padding-bottom: 1em;
  font-size: 1em;
}
.copyright {
  margin-top: 1em;
  text-align: center;
}

/* Menyesuaikan lebar gambar di carousel untuk layar kecil */
@media only screen and (max-width: 660px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 200vh; /* Menjamin kontainer utama mencakup setidaknya seluruh tinggi layar */
    margin: 0;
  }
  
  main {
    flex: 1; /* Memastikan bagian utama (content) mengambil ruang sisa */
  }
  nav {
    padding: 10px 20px; /* Mengurangi padding pada navigasi untuk layar kecil */
  }
  .logo {
    width: 30px; /* Menyesuaikan ukuran logo untuk tampilan mobile */
  }
  nav .logo-t {
  font-size: 1vmax;
  }
  nav.sticky {
  padding: 10px 40px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  /* Menyesuaikan logo untuk layar kecil */
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(20, 73, 27, 0.8);
    transition: all 0.2s ease-in-out;
  }
  .logo img {
    width: 100%;
  }
  .menu div {
    flex-basis: auto;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
  }
  .menu li {
    padding: 1em;
  }
  .menu li img {
    display: none;
  }
  .menu li .text-link {
    display: inline-block;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
}
.about {
  color: #fff;
   width: 50%;
   margin: auto;
   height: auto;
 }
 .teks {
   align-content: center;
   text-align: center;
   width: 100%;
   height: auto;
   margin-top: 15%;
   }
 .profile {
   font-size: 50%;
   color: #fff;
   margin: auto;
   height: auto;
 }

.foto {
  align-items: center;
  width: 90%;
  height: 100px;
  margin-top: 100%;
}

  .visi,
  .misi {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .visi {
    /* background-color: orange; */
    width: 100%;
    height: 150px;
  }
  .box-visi {
    text-align: center;
    margin-left: 2.5%;
    margin-right: auto;
    background-color: white;
    width: 95%;

    height: auto;
    h1 {
      margin: center;
    }
  }
  /* visi end */
  /* misi */
  .misi {
    /* background-color: yellow; */
    width: 100%;
    height: 200px;
  }
  .box-misi {
    text-align: center;
    margin-left: 2.5%;
    margin-right: auto;
    background-color: white;
    width: 95%;

    height: auto;
    h1 {
      margin: center;
    }
  }
  /* misi end */

  .sejarah {
    /* background-color: orange; */
    width: 100%;
    height: 100px;
  }
  .box-sejarah {
    text-align: center;
    margin-left: 2.5%;
    margin-right: auto;
    background-color: white;
    width: 95%;

    height: auto;
    h1 {
      margin: center;
    }
  }

  .location,
  .contact {
    width: 100%; /* Mengisi lebar layar penuh untuk lokasi dan kontak */
    margin-left: 0; /* Menghilangkan margin kiri pada elemen */
  }
  .alamat,
  .nomor {
    width: 100%; /* Mengisi lebar layar penuh untuk lokasi dan kontak */
    height: 40%;
    margin-left: 0; /* Menghilangkan margin kiri pada elemen */
    margin-top: 5%;
    font-size: 1vh;
  }
  .alamat1,
  .nomor1 {
    width: 100%; /* Mengisi lebar layar penuh untuk lokasi dan kontak */
    height: 50%;
    margin-left: 0; /* Menghilangkan margin kiri pada elemen */
    font-size: 1vh;
    margin-top: 5%;
  }
  footer {
    margin-top: auto; /* Footer selalu di bawah konten utama */
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
}

/* Menyembunyikan .ula dan menyesuaikan .ulb di layar kecil */
@media only screen and (min-width: 600px) and (max-width: 900px) {
}
/* Menyesuaikan ukuran video background di layar kecil */
@media only screen and (max-width: 900px) {
}



